dist/
_deploy/
*.tar

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Docker
*.log
docker-compose.override.yml
.dockerignore

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store

# Claude
.claude

# Personality settings — edited via admin panel, must not be overwritten by git
personality.json
